MTN_SUBSCRIPTION_KEY=4d952767ab594fe096641ac90598f7bd
MTN_API_USER_ID=604c51ad-e956-4de7-a699-3e0f404a2d83
MTN_API_KEY=b067e739354e42c79f04bf6590547253
MTN_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_ENVIRONMENT=sandbox
MTN_CURRENCY=XAF
PORT=3000
PAYBRAIN_WEBHOOK_URL=http://localhost:3000/webhooks/mtn
DATABASE_URL=postgresql://localhost:5432/paybrain
REDIS_URL=redis://localhost:6379
JWT_SECRET=paybrain_secret_groupe_alpha_2026
API_KEY_SALT=alpha_salt_2026